/** header styles **/

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.quicklinks {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}
