.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/** header styles **/

.header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.quicklinks {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.hamburgerLeft {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.hamburgerHeader {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/** content styles **/

.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.jobpost {
  margin-top: 2vh;
  height: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.jobpostsm {
  margin-top: 2vh;
  height: 12vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.jobinfo {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.jobinfosm {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tags {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/** footer styles **/

.footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
