.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/** header styles **/

.header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.quicklinks {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.hamburgerLeft {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.hamburgerHeader {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  height: 80vh;
}
